* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 230%;
    background-color: #31343d;
    color: #31343d;
}

.name {
    background-color: #92ccce;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #31343d;
    padding: 1% 0;
}

nav {
    display: flex;
    padding: 0px;
    margin-right: 10px;
}

nav a {
    color: #92ccce;
    text-decoration: underline;
    padding: 10px 15px;
}

.hero img {
    width: 100%;
    height: 100px;
}

main {
    width: 100%;
}

img {
    border: 2px solid #92ccce;
}

.box1 {
    flex: 1;
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    flex: 4;
}

h2 {
    text-align: right;
    padding-right: 20%;
    font-size: 40px;
}

a {
    display: inline-flex;
    text-decoration: underline;
    color: #92ccce;
    padding: 10px 15px;
}

.row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.bigphoto {
    width: 100%;
    /*height: 100%;*/
    margin-right: 15%;
}

.photos2 {
    width: 42.5%;
    /* height:42.5%;*/
}

.photos3 {
    width: 42.5%;
    /*height: 42.5%;*/
}

span {
    position: absolute;
    width: 15%;
    height: 15%;
    border: 2px solid #92ccce;
    top: 120%;
    bottom: 25%;
    background-color: #92ccce;
}

h3 {
    color: purple;
}

em {
    color: purple;
}

.label3 {
    position: absolute;
    width: 15%;
    height: 15%;
    border: 2px solid #92ccce;
    top: 180%;
    bottom: 25%;
}

.label4 {
    position: absolute;
    width: 15%;
    height: 15%;
    border: 2px solid #92ccce;
    top: 180%;
    bottom: 25%;
    left: 54%;
}

.label5 {
    position: absolute;
    width: 15%;
    height: 15%;
    border: 2px solid #92ccce;
    top: 230%;
}


.label6{

    position: absolute;
    width: 15%;
    height: 15%;
    border: 2px solid #92ccce;
    top: 230%;
    left:54%;






}