* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 230%;
    background-color: #31343d;
    color: #31343d;
}

.name {
    background-color: #92ccce;
}

/*Header and nav bar design*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #31343d;
    padding: 1% 0;
}

nav {
    display: flex;
    padding: 0px;
    margin-right: 10px;
}

nav a {
    color: #92ccce;
    text-decoration: underline;
    padding: 10px 15px;
}

/* image at top of page */

.background-image img {
    width: 100%;
    height: 80px;
    background-image: url("trianglify-lowres");
    position: relative;
}

/* text on image on top of page */

h4 {
    position: absolute;
    top: 100px;
    right: 75px;
    background-color: #92ccce;
    color: purple;
}

main {
    width: 100%;
}

img {
    border: 2px solid #92ccce;
}

/* space on left side of page that holds about me work and contact section */

.box1 {
    width: 200px;
}

/*space in main area that holds photos and projects */

.box2 {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    position: relative;
    margin-left: 95px;
    /* z-index: 0;*/
    /*background-image: url(../trianglify-lowres.png);*/
}

/* vertical line */

.vl2 {
    border-right: 2px solid #92ccce;
    height: 350px;
}

.me {
    border-right: 2px solid #92ccce;
}

.phone {
    border-right: 2px solid #92ccce;
}

/* holds small photos on right hand side of page */

.box3 {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    position: relative;
}

/* about me work and contact */
h2 {
    text-align: right;
    padding-right: 20%;
    font-size: 40px;
    margin-left: 25px;
    color: #92ccce;
}



a {
    display: inline-flex;
    text-decoration: underline;
    color: #92ccce;
    padding-top: 30px;
    padding-left: 90px;
}

/* first row on page that holds about me content */
.row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* second row that holds work and main project photo */
.row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/*row 3 and 4 hold small project photos */
.row3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* holds contact info in fifth row of the page */
.row5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* sizing of main project photo on page */
.bigphoto {
    width: 700px;
    height: 500px;
}

/* small photos */
.photos2 {
    width: 350px;
    height: 130px;
}

.photos3 {
    width: 300px;
}
/* positions small labels on top of project images */
.label3, .label4, .label5, .label2, .p1 {
    position: absolute;
    width: 90px;
    height: 70px;
    border: 2px solid #92ccce;
    background-color: #92ccce;
    top: 50px;
    bottom: 10px;
}

/*text inside labels of projects*/
h3 {
    color: purple;
    font-size: 15px;
}

em {
    color: purple;
}

.links {
    padding: 0;
}