*
{box-sizing: border-box;
padding:0;
margin:0;
}


body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

h1{

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:230%;
background-color: #31343d;
color:#31343d;


}

.name{


background-color: #92ccce;

}




